body {
    background-color: #FFFFFF;
    color: #212121 ;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.logo {
    color: #2196F3 ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-black {
    color: #212121;
}                                       
.logo-white {
    color: #FFFFFF;
}


/* site-nav */
.site-nav {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.site-nav :hover,
.site-nav :focus {
    color: #2196F3 ;
}

/* cont-nav */
.cont-nav {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.cont-nav :hover,
.cont-nav :focus {
    color: #2196F3;
}


/*  */
.hero{
    background-color: #2F303A ;
}
.hero h1{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero button {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
}

.feature,
.portfolio {
    background-color: #E5E5E5;
}
.feature h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}
.feature p {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
}

.portfolio h2,
.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}
.team {
    background-color: #F5F4FA;
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2; 
}
.team p {
    font-size: 16px;
    line-height: 1.2; 
    color: #757575 ;
}


.main {
 
    background-color: #E5E5E5;
}
.button {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}


.buttons > li :hover,
.buttons :focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
.button{
    cursor: pointer;
}


/* Projects */
.projects h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects p{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;   
}



/* footer */
.footer {
    background-color: #2F303A ;
}

.address-link :hover,
.address-link :focus{
    color:#2196F3;
}
.address{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
}
.link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
} 


/* колір заголовків #212121; */

/* вторинний колір тексту #757575; */

/* акцент #2196F3; */

/* колір контактів футер rgba(255, 255, 255, 0.6); */

/* #EEEEEE */
